/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/

html{
	background-color:#32746D;
	color:#011502;
	font-family: 'Luckiest Guy', cursive;
}

h1{
	font-size:36px;
	font-weight:bold;
}

.content{
	background-color:#9EC5AB;
	width:70%;
	padding:20px;
	margin:20px auto;
}
#cartoon-buttons{
	background-color: #104F55;

}

.btn-primary{
	background-color:#9EC5AB ; /* Green */
  border: 2px solid black;
  color: #011502;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 16px;
	border-radius: 50%;
	font-family: 'Luckiest Guy', cursive;

}

.btn-success{
	background-color:#9EC5AB ; /* Green */
  border: 2px solid black;
  color: #011502;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 16px;
	border-radius: 50%;
	font-family: 'Luckiest Guy', cursive;

}
#cartoons{
	display:flex;
		flex-wrap: wrap;

}