/*Colors:
#104F55
#32746D
#9EC5AB
#01200F
#011502
*/
div#background {
	background-image: url("../images/dot_white_pink.jpg");
	/*background-size:cover;*/
	background-repeat: repeat;
	height: 100%;
	width: 100vw;
	z-index: -1;
	position: fixed;
	/* background: ; */
}

body {
	height: 100vh;
}

html{
	background-color:#32746D;
	color:#011502;
	font-family: 'Luckiest Guy', cursive;
	text-align: center;
	font-size: 24px;
}

h1{
	font-size:45px;
	font-weight:bold;
}

.content{
	background-color:#9EC5AB;
	width:70%;
	padding:20px;
margin: auto;
}
#cartoon-buttons{
	background-color: #104F55;
	text-align: center;
	padding: 1vh 0;
}


.btn-primary{
	background-color:#9EC5AB; 
	border: 2px solid black;
	color: #011502;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 50%;
	font-family: 'Luckiest Guy', cursive;
	margin: .5vh 1vw;
}
.btn-primary:hover {
  color: grey;
}

.btn-success{
	background-color:#9EC5AB ; 
  border: 2px solid black;
  color: #011502;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
	font-size: 16px;
	border-radius: 50%;
	font-family: 'Luckiest Guy', cursive;

}

.btn-success:hover {
  color: grey;
}
#cartoons{
	display:flex;
		flex-wrap: wrap;

}